.title {
    font-weight:bold;
    font-size:40px;
    margin-bottom:2%;
    text-align:center;
    color: #EFDE90;
}
.subtitle {
    font-weight:bold;
    font-size:25px;
    text-align:center;
    color:#EFDE90;
    width:85%;
    margin-left:7.5%;
}
.title-failed {
    font-weight:bold;
    font-size:40px;
    margin-bottom:2%;
    text-align:center;
    color: white;
}
.subtitle-failed {
    font-weight:bold;
    font-size:25px;
    text-align:center;
    color:white;
    width:85%;
    margin-left:7.5%;
}
.title-passed {
    font-weight:bold;
    font-size:40px;
    margin-bottom:2%;
    text-align:center;
    color: black;
}
.subtitle-passed {
    font-weight:bold;
    font-size:25px;
    text-align:center;
    color:black;
    width:85%;
    margin-left:7.5%;
}

.score-container  {
    width:60%;
    height:16%;
    margin-left:20%;
    background-color: red;
    margin-top:3%;
    text-align: center;
}

.score-container-passed  {
    width:60%;
    height:16%;
    margin-left:20%;
    background-color: green;
    margin-top:3%;
    text-align: center;
}

.score {
    font-size:30px;
    height:40%;
    padding-top:3.5%;
}

.score-bold {
    font-weight:bold;
    font-size:50px;
}

.faulty-champions {
    margin-top: 2%;
    font-size: 20px;
    width: 80%;
    margin-left:10%;
    text-align: center;
}

.champion-bold {
    font-size:25px;
    font-weight:bold;
}

.champion {
    margin-top:20px;
}

.reason {
    font-size:22px;
    text-decoration:underline;
    margin-top:5px;
}

.form {
    text-align:center;
    font-size:20px;
    margin-top:10%;
    width:80%;
    margin-left:10%;
    font-weight:bold;
    
}

#id_summoner_name_form-name {
    background-color: rgba(0, 0, 0, 0) !important;
    background-color: transparent;
    color:#EFDE90;
}

#id_region_form-region {
    background-color: rgba(0, 0, 0, 0) !important;
    background-color: transparent;
    color:#EFDE90;
}
#id_region_form-region option {
    background-color: purple;
    color: #000;
}
.inputs {
    text-align:left;
    margin-left:40%;
}

.btn-primary {
 color: #EFDE90;
 background-color: purple;

}

.chart-container {
    margin-top:3%;
    max-width:80%;
    margin-left:10%;
}

.page {
    background-image: url('/staticfiles/kassadin.jpg');
    background-size:cover;
}
.body {
    height:90%;
    color:#EFDE90;
}

.footer {
    color:#EFDE90;
    height:10%;
    text-align:center;
}

.footer-text {
    font-size:20px;
    font-weight:bold;
}

.failed_background {
    background-image: url('/staticfiles/joker.jpg');
    background-size:cover;
    height:100%;

}

.passed_background {
    background-image: url('/staticfiles/rick.jpg');
    background-size:cover;
    height:100%;
}
.nomatch_background {
    background-image: url('/staticfiles/lemonke.jpg');
    height:100%;
    width:100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
    overflow: hidden;
    margin:0px !important
  }
