{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<!DOCTYPE html>
<head>
    <title>League Personnality Check</title>
</head>
<div class="failed_background">
<div class="title-failed">Your profile did not pass the test.</div>
<div class="subtitle-failed">Please find below your personnality analysis.</div>
 
<div class="score-container">
    <div class="score">
        Your score : <span class="score-bold">{{validated_percentage}}%</span>, your appreciation : <span class="score-bold">{{appreciation}}</span>
    </div>
    
</div>


<div class="chart-container">
{%block scripts%}
<script>
// jquery function
$(document).ready(function(){
        
        Chart.Legend.prototype.afterFit = function() {
            this.height = this.height + 50;
        };
        function htmlDecode(input) {
            const textArea = document.createElement("textarea");
            textArea.innerHTML = input;
            return textArea.value;
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: [{% for word, data in words.items %}"{{word}}",{%endfor%}], //loop through queryset, 
                datasets: [{
                    label: '# of users',
                    data: [{%for word, data in words.items %}{{data.percentage}},{%endfor%}],
                    backgroundColor: [{%for word, data in words.items %}'{{data.color}}',{%endfor%}],
                    borderColor: "white",
                    borderWidth: 2
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontSize: 22,
                        fontColor: "white"
                    }
                },
                tooltips: {
                    callbacks: {

                        title: function(tooltipItem, data) {
                            index = tooltipItem[0].index
                            return data.labels[index] + ' (' + data.datasets[0].data[index] + '%)'
                        },
                        label: function(tooltipItem, data) {
                            

                            index = tooltipItem.index;
                            word = data.labels[index]
                            {% for word, data in words.items %}
                            if (word == '{{word}}') {
                                cpt = 0;
                                output_str = ""
                                {% for champion in data.champions %}
                                    
                                    if (cpt == 0) {
                                        output_str += htmlDecode('{{champion}}');
                                    }
                                    else {
                                        output_str += htmlDecode(', {{champion}}');
                                    }
                                    cpt += 1;
                                {% endfor %}
                            }
                            {% endfor %}
                            return output_str
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        
                    },

                }
                
            }
        });
    });
</script>
{%endblock scripts%}

{%block content%}
<!-- displaying the chart -->
<!-- you can also play around with the width and height to increase or decrease the chart size -->
<canvas id="myChart" width="400" height="100"></canvas>  
{%endblock content%}
</div>
</div>

