{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" href="{% static 'style.css' %}">

<!DOCTYPE html>
<div class="title">Congratulations ! Your profile passed the test.</div>
<div class="subtitle">Please find below your score, and how to get a better one.</div>
 
<div class="score-container-passed">
    <div class="score">
        Your score : <span class="score-bold">{{validated_percentage}}%</span>, your appreciation : <span class="score-bold">{{appreciation}}</span>
    </div>
    
</div>
<div class="faulty-champions">
    <div class="champion-bold">The champions you should stop playing to get a better score :</div>
    {% for champion in unvalidated %}
    <div class="champion">
        <div><span class="champion-bold">{{champion.name}}</span> ({{champion.percentage}}%)</div>
        <div class="reason">{{champion.reason}}</div>
    </div>
    {% endfor %}
</div>